.home{
    background-color: #E7DFD8;
    flex-direction: column;
    height: calc(100vh - 10vh); 
}   

.home .homeContainer {
    flex: 1; 
}
.homeContainer {
    padding: 8vh; 
    border: 0.1vh solid black;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 4vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title{
    font-size:10vh;
    font-weight: 540;
    line-height: 1.2;
}
.subheading{
    font-size: 3.4vh;
    width: 80vh;
    font-weight: 600;
    line-height: 1.3;
}
