body{
    background-color: #E7DFD8;
}
.login {
    width: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7vh 10vh;
    border: black solid 0.1vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex; 
    flex-direction: column; 
    align-items: left;
    justify-content: center; 
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); 
}
input {
    margin-bottom: 2.5vh;
    background-color: #ffffff !important;
}
.btnLogin{
    border: solid 0.2vh black;
    border-radius: 0.5vh;
    padding: 1vh;
    font-size: 2.2vh;
    background-color: #E7DFD8;
    width: 20vh;
    margin-top: 1.5vh;
    margin-bottom: 2.5vh;
}
.btnLogin:hover{
    background-color: #f5f2ef
}
.link{
    line-height: 0.8;
}
a {
    color: #8c8c8c;
    text-decoration: none;
}