.btnSignup {
  border: solid 0.2vh black;
  border-radius: 0.5vh;
  padding: 1vh;
  font-size: 2.2vh;
  background-color: #e7dfd8;
  margin-top: 3vh;
  margin-bottom: 2vh;
}
.btnSignup:hover {
  background-color: #f5f2ef;
}
.titleSignup {
  font-size: 8.5vh;
  margin-right: 5vh;
}
.signup {
  border: solid 1px black;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  padding: 7vh 10vh;
  width: 120vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
a {
  color: #8c8c8c;
  text-decoration: none;
}
